@import url('https://googleapis.com');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 20rem;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.tp-logo img{
    width:170px;
    height:auto;
}

.top-header-section{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.navigaton-panel{
    display: flex;
    align-items: center;
    gap: 30px;

}
.navigaton-panel a,a:link{
    text-decoration: none;
    color: #222222;
}

.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    margin: 1rem;
}
.final-logo{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.navbar{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#66B6D4,#354F6F);
    align-items: center;
    height: 50px;
    position: sticky;
    
}

#btn-regionals{
    padding:10px 15px;
    background:#002857;
    color:white;
    font-weight:500;
}

.header-wrapper{
    background-color: white;
    position: static;
    top: 0;
    max-width:1200px;
    margin:0 auto;
}


.bg-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width:100% ;
    height: 483px;
    background: linear-gradient(#D9D9D9,#0E2D5280),url("./img/image.jpg");
    background-size: cover;
    background-position: center;
}

.btn-register{
    color: #0E2D52;
    background-color: #FFFFFF;
    width: 192px;
    height: 41px;
    padding: 0.5rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 10.5%;
    text-transform: uppercase;
    border: none;
}
#read-more-btn{
    border: 1px solid #0E2D52;
    color:#0E2D52 ;
    background-color: #FFFFFF;
    width: 162px;
    height: 42px;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 10.5%;

}
#bg-header{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 56.5px;
    text-align: center;
    text-transform: uppercase;
}

#about-section{
    margin: 3rem auto;
    padding: 3rem;
} 
.about-section-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 2rem;
}
.about-heading{
    display: inline-block;
    background: linear-gradient(86.3deg, rgba(14, 45, 82, 0.88) -9.57%, #66B6D4 98.86%);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: Poppins;
    font-weight: 600;
    line-height: 32px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    text-align: center;
}
#about-para{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.heading{
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 10%;
    text-align: center;
    color: #66B6D4;
}
.internal-container{
    background-color: #F5F5F5;
    padding: 5rem 0;
    width: 100%;
    min-height: 574px;
}
.inner-heading-card{
    color: #0E2D52;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;

}
.inner-para-card{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #444444;
    height:136px;
    width: auto;
}
.logo{
    width: 56px;
    height: 51px;
    top: 2.58px;
    left: 0.09px;
    opacity: 1;

}
.grid-box{
    width: 55%;
    margin: 2rem auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;

}
.card{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.conferences-header{
    color: #66B6D4;
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 10%;
    text-align: center;
}
.conferences-para{
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.conferences-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.card-conferences{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #0E2D52;
    width: 360px;
    height: 275px;
    padding-top:2rem ;
    gap: 1rem;
}
.card-conferences h5{
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.card-conferences p{
    color: #0E2D52;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.card-conferences a{
    margin-top:4rem ;
    background-color: #0E2D52;
    color: #FFFFFF;
    padding: 11px 30px;
}
.conferences-container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 4rem 0;
}
.conferences-para-container{
    padding: 2rem;
}
.people-header{
    color: #66B6D4;
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 10%;
    text-align: center;
}
.people-para{
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.people-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 3rem;
}
.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
#profile-img{
    width:100%;
    height:100%;
    object-fit:cover
}
.profile-content h6{
    font-family: Roboto;
    font-weight: 550;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 10%;
    color: #0E2D52;
}
.profile-content p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 10%;
    color: #0E2D52;
}

.quotes-para::before{
    content: "❝";
    color: #66B6D4;
    font-size: 30px;
    position: absolute;
    left: -8px;
    top: 25px;
    
}
.quotes-para::after{
    content: "❞";
    color: #66B6D4;
    font-size: 30px;
    position: absolute;
    right: 317px;
    bottom: 33px;
    
}
.quotes-para{
    position: relative;
    padding: 2rem 0.7rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0%;

}
.people-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.div-wrapper-people{

    max-width: 1000px;
    margin: 0 auto;
}
.people-para{
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}
.people-card{
    background-color: #F5F5F5;
    padding: 2rem;
    margin-top: 2rem;
}
.people-card-head{
    display: flex;
    gap: 1rem;
}
.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}
.dots-img{
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planning-container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 4rem 0;
}
#start-planning{
    background-color: #F5F5F5;
}
.head-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-top:5rem;
}
.head-section h3{
    color: #66B6D4;
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 10%;
    text-align: center;
}
.head-section p{
    color: #444444;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.contact-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form label{
    color: #0E2D52;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0%;
}
.contact-form input{
    border: 1px solid #0E2D52;
    width: 100%;
    height: 46px;
}
.form-group{
    flex: 1;
}
#submit{
    background-color: #002857;
    padding: 0 25px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 10.5%;
    margin-top: 3rem;
    width: 30%;
}
.main-contact-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    margin: 1rem 0 4rem;
}
.row1{
    display: flex;
    gap: 2rem;
}
.contact-card{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: fit-content;
    height: 50%;
}
.contact-form{
    width:100%;
    max-width:450px;
}
.contact-card h6{
    text-decoration: underline;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0E2D52;
    padding-bottom: 1rem;
}
.contact-card a{
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 2rem; 
    margin:1rem 0;
}
.contact-item img{
    width: 20px;
    height: 20px;
}
.contact-item address{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0%;
}

.speakers-head-section p{
    max-width: 1000px;
    margin: 0 auto;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.speakers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding:3rem 0;
    margin-top: 2rem;
}
.photo-card img{
    width: 100%;
    height: auto;
}
.line1{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #0E2D52;
}
.line2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #0E2D52;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.photo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-card figure{
    border: 1px solid #66B6D4;
}
.photo-card figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;

}
.photo-card figure img{
    width: 270px;
    height: 310px;
}
.speakers-head-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.newsletter-content p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.newsletter-container{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding:3rem 0 1rem;
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.newsletter-email-input button{
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: #0E2D52;
    color: #FFFFFF;
}
.newsletter-email-input input{
    width: 300px;
    padding: 0.5rem;
    margin-right: 0;
}
.newsletter-email-input{
    display: flex;
    align-items: center;
}
.news-para{
    padding-left: 10rem;
    width: 500px;
    height: 64px;
}
.footer-logo img{
    width: 320px;
    height: 80px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 0.5rem;
}
.footer-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 0.5rem;
    

}
.footer-navbar a{
    color: #FFFFFFCC;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;

}
footer{
    background: linear-gradient(77.96deg, #0E2D52 68.98%, #66B6D4 118.9%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer-icon img{
    width: 24px;
    height: 24px;
}
hr{
    border: 1px solid #FFFFFFCC;
}
.sub-footer p{
    color: #FFFFFFCC;
    font-family: Poppins;
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.sub-footer{
    color: #FFFFFFCC;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}




